{% extends './base.html' %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/book_detail.css') }}" />
{% endblock style %}
<div id="flash">
    {% for message in get_flashed_messages() %}
    <div class="flash alert alert-info">
        
    </div>
    {% endfor %}
</div>
{% block content %}
<div class="detail-container">
    <div class="intro-box">
        <div class="intro-img">
            <img src="{{ url_for('static', filename=book.img_url )}}" alt="{{book.book_name}}" />
        </div>
        <div class="book-detail">
            <table>
                <tr>
                    <td class="index">책이름</td>
                    <td class="explain">{{ book.book_name }}</td>
                </tr>
                <tr>
                    <td class="index">출판사</td>
                    <td class="explain">{{ book.publisher }}</td>
                </tr>
                <tr>
                    <td class="index">저자</td>
                    <td class="explain">{{ book.author }}</td>
                </tr>
                <tr>
                    <td class="index">출간일</td>
                    <td class="explain">{{ book.publicated_at.strftime('%Y-%m-%d') }}</td>
                </tr>
                <tr>
                    <td class="index">페이지수</td>
                    <td class="explain">{{ book.pages }}</td>
                </tr>
                <tr>
                    <td class="index">ISBN 코드</td>
                    <td class="explain">{{ book.isbn }}</td>
                </tr>
            </table>
        </div>
    </div>
    <p class="desc">책 소개</p>
    <div class="desc-box">
        <p>{{book.description}}</p>
    </div>
    <p class="desc">리뷰</p>
    <div class="comment-container">
        {% if comment_list %}
        {% for i in range(comment_list|length) %}
        <div class="comment-box">
            <div class="comment-header">
                <p class="comment-user">{{comment_list[i].user_id}}</p>
                <div class="comment-update-delete">
                    {% if session['user_id'] == comment_list[i].user_id %}
                    <button id="comment-btn" class="comment-delete" data-id="{{ comment_list[i].comment_id }}">
                        삭제
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="comment-content-box">
                <p class="comment-content">{{comment_list[i].content}}</p>
            </div>
            <div class="comment-footer">
                <p class="comment-date">
                    {{ comment_list[i].created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                <div id="comment-rating" class="rating-result" data="{{comment_list[i].rating}}">
                    {% for i in range(comment_list[i].rating) %}
                    <span class="fa fa-star checked"></span>
                    {% endfor %}
                    {% for i in range(5 - (comment_list[i].rating)) %}
                    <span class="fa fa-star"></span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
        {% if g.user %}
        <div class="comment-create">
            <form action="{{ url_for('main.create_comment', book_id=book.book_id)}}" method="post">
                <textarea id='comment-content' class="comment-create-content" rows="3" name="content"
                    placeholder="리뷰를 작성하세요!"></textarea>
                <div class="comment-create-footer">
                    <div class="rating">
                        <input type="radio" name="rating" id="rating-5" value="5">
                        <label for="rating-5"></label>
                        <input type="radio" name="rating" id="rating-4" value="4">
                        <label for="rating-4"></label>
                        <input type="radio" name="rating" id="rating-3" value="3">
                        <label for="rating-3"></label>
                        <input type="radio" name="rating" id="rating-2" value="2">
                        <label for="rating-2"></label>
                        <input type="radio" name="rating" id="rating-1" value="1">
                        <label for="rating-1"></label>
                    </div>
                    <button type="submit" class="create-comment-btn">
                        등록하기
                    </button>
                </div>
            </form>
        </div>
        {% else %}
        <div class="no-reviews">
            <p>책이 어떠셨나요? 리뷰를 남겨주세요!</p>
            <a href="{{ url_for('auth.login') }}">
                <p class="login-for-review">로그인 후 리뷰 남기기
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
{% block jscontent %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".comment-delete").on('click', function() {
            if(confirm("정말 삭제하시겠습니까?")) {
                $.ajax({
                    url: "{{ url_for('comment.delete') }}",
                    type: 'POST',
                    dataType : 'JSON',
                    data: {
                        'comment_id': $(this).data('id'),
                    }
                })
                window.location.reload();
            }
        });
    });
</script>
{% endblock jscontent %}