{% extends 'admin/admin_base.html' %}
{% block content %}
<div class="login-container">
    <form class="form-signin" action="{{ url_for('admin.admin_login') }}" method="post">
        <h2 class="form-signin-heading">관리자 로그인 </h2>
        <div class="login-input">
            <input type="email" class="form-control" name="user_id" placeholder="관리자 아이디를 입력하세요." autofocus=""
                value="{{ request.form['user_id'] }}" />
            <input type="password" class="form-control" name="user_password" placeholder="비밀번호를 입력하세요." value="{{ request.form['user_password'] }}"/>
        </div>
        <div class="login-box">
            <button class="login-btn" type="submit">로그인</button>
        </div>
    </form>
</div>
{% endblock content %}
