<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    {% block style %}{% endblock style %}
    {% block script %}{% endblock script %}
    <title>레이서 도서관</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-light">
            <ul id="nav-title" class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.home')}}">레이서 도서관</a>
                </li>
            </ul>
            <ul id="nav-right">
                {% if g.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('rental.record') }}">대여기록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout')}}">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('rental.rented_now') }}">
                        <button type="button" class="btn_post">
                            반납하기
                        </button>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.signup') }}">회원가입</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div id="flash">
        {% for message in get_flashed_messages() %}
        <div class="flash alert alert-info">
            {{message}}
        </div>
        {% endfor %}
    </div>
    <div id="container">
        {% block content %}{% endblock content %}
    </div>
    <div id="footer">
        <div class="footer">
            <p>레이서 도서관</p>
        </div>
    </div>
    {% block jscontent %}{% endblock jscontent %}
</body>

</html>
