{% extends './base.html' %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='book_detail.css') }}" />
{% endblock style %}
{% block flash %}
<div id="flash" class="comment-flash">
    {% for message in get_flashed_messages() %}
    <div class="flash alert alert-info">
        {{message}}
    </div>
    {% endfor %}
</div>
{% endblock flash %}
{% block content %}
<div class="detail-container">
    <div class="intro-box">
        <div class="intro-img">
            <img src="{{ img_url }}" alt="img of '{{ book.book_name}}'">
        </div>
        <div class="book-detail">
            <table>
                <tr>
                    <td class="index">책이름</td>
                    <td class="explain">{{ book.book_name }}</td>
                </tr>
                <tr>
                    <td class="index">출판사</td>
                    <td class="explain">{{ book.publisher }}</td>
                </tr>
                <tr>
                    <td class="index">저자</td>
                    <td class="explain">{{ book.author }}</td>
                </tr>
                <tr>
                    <td class="index">출간일</td>
                    <td class="explain">{{ book.publicated_at.strftime('%Y-%m-%d') }}</td>
                </tr>
                <tr>
                    <td class="index">페이지수</td>
                    <td class="explain">{{ book.pages }}</td>
                </tr>
                <tr>
                    <td class="index">ISBN 코드</td>
                    <td class="explain">{{ book.isbn }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="desc-box">
        <p>{{book.description}}</p>
    </div>
    <div class="comment">
        <div class="comment-detail">
            {% if comment_list %}
                {% for i in range(comment_list|length) %}
                    <p>{{comment_list[i].user_id}}</p>
                    <p>{{comment_list[i].content}}</p>
                    <p>{{created_times[i].strftime('%Y-%m-%d %H:%M:%S')}}</p>
                    <div class="rating-result" data="{{comment_list[i].rating}}">
                        {% for i in range(comment_list[i].rating) %}
                            <span class="fa fa-star checked"></span>
                        {% endfor %}
                        {% for i in range(5 - (comment_list[i].rating)) %}
                            <span class="fa fa-star"></span>
                        {% endfor %}
                    </div>
                    {% if session['user_id'] == comment_list[i].user_id %}
                        <form action="#" method="post">
                            <button type="button" class="btn btn-primary">
                                수정
                            </button>
                        </form>
                        <form action="{{ url_for('comment.delete', comment_id=comment_list[i].comment_id) }}" method="post">
                            <button type="submit" class="btn btn-primary">
                                삭제
                            </button>
                        </form>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {% if g.user %}
        <form action="{{ url_for('main.create_comment', book_id=book.book_id)}}" method="post">
            <textarea id='comment-content' class="form-control" rows="3" name="content"
                placeholder="리뷰를 작성하세요!"></textarea>
            <div class="rating">
                <input type="radio" name="rating" id="rating-5" value="5">
                <label for="rating-5"></label>
                <input type="radio" name="rating" id="rating-4" value="4">
                <label for="rating-4"></label>
                <input type="radio" name="rating" id="rating-3" value="3">
                <label for="rating-3"></label>
                <input type="radio" name="rating" id="rating-2" value="2">
                <label for="rating-2"></label>
                <input type="radio" name="rating" id="rating-1" value="1">
                <label for="rating-1"></label>
            </div>
            <button type="submit" class="btn btn-primary">
                등록하기
            </button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content %}
