{% extends './base.html' %}
{% block js %}
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
{% endblock js %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='book_detail.css') }}" />
{% endblock style %}
{% block content %}
    <div class="book-detail">
        <p>책이름 {{book.book_name}}</p>
        <p>출판사 {{book.publisher}}</p>
        <p>저자 {{book.author}}</p>
        <p>출간일 {{book.publicated_at}}</p>
        <p>페이지수 {{book.pages}}</p>
        <p>ISBN 코드 {{book.isbn}}</p>
        <p>책 소개</p>
        <p>{{book.description}}</p>
    </div>
    <div class="comment">
        <div class="comment-detail">
            {% if comment_list %}
                {% for comment in comment_list %}
                    <p>{{comment.user_id}}</p>
                    <p>{{comment.content}}</p>
                    <p>{{comment.rating}}</p>
                    <p>{{comment.created_at}}</p>
                    {% if session['user_id'] == comment.user_id %}
                        <form action="#" method="post">
                            <button type="button" class="btn btn-primary">
                                수정하기
                            </button>
                        </form>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>리뷰를 작성해 주세요.</p>
            {% endif %}
        </div>
        {% if g.user %}
        <form action="{{ url_for('main.create_comment', book_id=book.book_id)}}" method="post">
            <textarea id='comment-content' class="form-control" rows="3" name="content" placeholder="리뷰를 작성하세요!"></textarea>
            <div class="rating">
                <input type="radio" name="rating" id="rating-5" value="5">
                <label for="rating-5"></label>
                <input type="radio" name="rating" id="rating-4" value="4">
                <label for="rating-4"></label>
                <input type="radio" name="rating" id="rating-3" value="3">
                <label for="rating-3"></label>
                <input type="radio" name="rating" id="rating-2" value="2">
                <label for="rating-2"></label>
                <input type="radio" name="rating" id="rating-1" value="1">
                <label for="rating-1"></label>
            </div>
            <button class="btn btn-primary" onclick="postComment('{{ book.book_id }}')">
                등록하기
            </button>
        </form>
        {% endif %}
    </div>
{% endblock content %}
