{% extends './base.html' %}
{% block js %}
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
{% endblock js %}
{% block content %}
<div class="container">
    {% if book_list %}
        {% for book in book_list %}
        <div class="book-container">
            <div class="book">
                <a href="{{ url_for('main.detail', book_id=book.book_id) }}" >
                    <div class="book-img">
                        <img src="{{book.img_url}}" alt="{{book.book_name}}" />
                    </div>
                </a>
                <div class="info">
                    <h5>{{book.book_name}}</h5>
                    <p>{{book.stock}}권 남음</p>
                    <div class="rating-result" data="{{book.rating}}">
                        {% for i in range(book.rating) %}
                        <span class="fa fa-star checked"></span>
                        {% endfor %}
                        {% for i in range(5 - (book.rating)) %}
                        <span class="fa fa-star"></span>
                        {% endfor %}
                    </div>
                </div>
                <form class="btn_rent" action="{{ url_for('rental.rent', book_id=book.book_id) }}" method="post">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">대여하기</button>
                </form>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="blank">
        <p>아직 책이 없어요.</p>
    </div>
    {% endif %}
</div>
{% endblock content %}



