{% extends './base.html' %}
{% block content %}
    {% if book_list %}
    <div class="book_container">
        {% for book in book_list %}
        <a href="{{ url_for('main.home')}}">
            <div class="book">
                <h2 class="title">{{book.book_name}}</h2>
                <p class="date">{{book.rating}}</p>
                <p class="stock">{{book.stock}}권 남음</p>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <div class="blank">
        <p>아직 책이 없어요.</p>
    </div>
{% endblock content %}