{% extends './base.html' %}
{% block js %}
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
{% endblock js %}
{% block flash %}
    <div id="flash" class="index-flash">
        {% for message in get_flashed_messages() %}
        <div class="flash alert alert-info">
            {{message}}
        </div>
        {% endfor %}
    </div>
{% endblock flash %}
{% block content %}
<div class="container">
    {% if book_list %}
        {% for book in book_list.items %}
        <div class="book-container">
            <div class="book">
                <a href="{{ url_for('main.detail', book_id=book.book_id) }}" >
                    <div class="book-img">
                        <img src="{{book.img_url}}" alt="{{book.book_name}}" />
                    </div>
                </a>
                <div class="info">
                    <h5>{{book.book_name}}</h5>
                    <p>{{book.stock}}권 남음</p>
                    <div class="rating-result" data="{{book.rating}}">
                        {% for i in range(book.rating) %}
                        <span class="fa fa-star checked"></span>
                        {% endfor %}
                        {% for i in range(5 - (book.rating)) %}
                        <span class="fa fa-star"></span>
                        {% endfor %}
                    </div>
                </div>
                <form class="btn_rent" action="{{ url_for('rental.rent', book_id=book.book_id) }}" method="post">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">대여하기</button>
                </form>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="blank">
        <p>아직 책이 없어요.</p>
    </div>
    {% endif %}
</div>
<nav id="pagination-nav" aria-label="Page navigation example">
    <ul class="pagination">
        {% if book_list.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{ book_list.prev_num }}">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">이전</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tab-index="-1" aria-disabled="true" href="#">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">이전</span>
            </a>
        </li>
        {% endif %}
        {% for page_num in book_list.iter_pages() %}
            {% if page_num %}
                {% if page_num != book_list.page %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% else %}
                   <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ page_num }}</a>
                    </li> 
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if book_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ book_list.next_num }}">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">다음</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">다음</span>
                </a>
            </li>
        {% endif %}
        </li>
    </ul>
</nav>
{% endblock content %}



