{% extends './base.html' %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.scss') }}" />
{% endblock style %}
{% block content %}
  <div class="wrapper">
      <form class="form-signin" action="{{ url_for('auth.login') }}" method="post">
        {{form.csrf_token}}
        <h2 class="form-signin-heading">로그인 </h2>
        <input type="email" class="form-control" name="user_id" placeholder="elice@elice.com" value="{{form.user_id.data or '' }}"
            autofocus="" />
        <input type="password" class="form-control" name="user_password" placeholder="비밀번호를 입력하세요."
            value="{{form.user_id.data or '' }}" />
        <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="remember"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
    </form>
</div>
{% endblock content %}
