{% extends './base.html' %}
{% block content %}
{% if rental_list %}
<p>{{rental_list|length}}권의 대여기록이 있습니다.</p>
{% for rental in rental_list %}
<div class="book">
    <a href="{{ url_for('main.book_detail', book_id=rental.book_id) }}">
        <img src="{{rental.book.img_url}}" alt="{{rental.book.book_name}}" />
    </a>
    <div class="info">
        <h3>{{rental.book.book_name}}</h3>
        <P>별점 :{{rental.book.rating}}점</p>
        <p>{{rental.rented_at.strftime('%Y-%M-%d')}}</p>
        <form action="{{ url_for('rental.return_book', book_id=rental.book_id) }}" method="post">
            <button class="btn btn-lg btn-primary btn-block" type="submit">반납하기</button>
        </form>
    </div>
</div>
{% endfor %}
{% else %}
    <p>대여한 책이 없어요.</p>
{% endif %}
{% endblock content %}